.projectsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  padding: var(--padding-min);
  width: var(--max-width);
  min-width: 400px;
}
.projects > h2 {
  color: var(--color-one);
  margin: var(--padding-min) 0;
}

.card {
  height: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--padding-min);

  background-image: linear-gradient(to right, #00000080, #5353532c),
    url("/512github.svg");
  background-position: right;
  background-repeat: no-repeat;

  box-shadow: 2px 5px 10px #3d60e025;
  border: 1px solid var(--color-one);
}

.card > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: linear-gradient(45deg, var(--color-one), var(--color-two));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card > div {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
