.projectsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  padding: var(--padding-min);
  width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: safe;
}
.titleContainer {
  width: var(--max-width);
  padding: var(--padding-min);
}
.titleContainer > h2 {
  color: var(--color-one);
}

.card {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  padding: var(--padding-min);

  background-image: linear-gradient(to right, #000000, #7a7a7a1f),
    url("/512github.svg");
  background-position: right;
  background-repeat: no-repeat;

  box-shadow: 2px 5px 10px #3d60e025;
  border: 1px solid;
}
.card > p {
  color: var(--color-three);
}
.card > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--color-three);
}

@media (max-width: 1100px) {
  .projects {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
