.experienceWrapper {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.experience {
  max-width: var(--max-width);
  width: 100vw;
  padding: var(--padding-min);
  margin: var(--padding-min);
  overflow: hidden;

  position: relative;
}
.experience > h2 {
  margin: 20px 0px;
  color: var(--color-one);
}
.xpContainer {
  position: relative;
  height: 100%;
  padding: 70px var(--padding-min);
  background-color: #1d1d1d;
}

.title {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 5px;
}
.title > h2 {
  font-weight: 400;
  word-spacing: 0.2rem;
}
.title > h4 {
  color: var(--color-three);
}
.jobInfo > h4 {
  color: var(--color-one);
  text-transform: uppercase;
  padding: 0px 0px 30px 0px;
}

.jobInfo > p {
  color: var(--color-three);
  font-size: 0.9rem;
  line-height: 1.9rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.1px;
  white-space: pre-line;
}

.jobInfo {
  position: relative;
}

.currentPage {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  color: var(--color-three);
}

.arrow {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 998;
}
.arrow:hover {
  margin-right: 50px;
}
.arrow > img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .xpContainer {
    width: 100vw;
    padding: var(--padding-min);
  }
  .experience {
    padding: 0;
  }
  .experience > h2 {
    margin-left: var(--padding-min);
  }
  .title {
    font-size: var(--mobile-font);
  }
  .jobInfo p {
    font-size: var(--mobile-font);
    padding: 0;
    line-height: 1.2rem;
  }
  .title > h2 {
    margin-top: 30px;
  }
}
